<app-sidebyside-format-breadcrumbs [urn]='urn' [name]='name'></app-sidebyside-format-breadcrumbs>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">How would you like to enter the data for the custom dashboard?</h1>
    <p class="govuk-body-s">
      Assessing
      <span class="highlight">
        <span class="govuk-!-font-weight-bold">{{name}}</span>
      </span>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<form  (ngSubmit)='onContinue()' #editFormatForm ="ngForm">
  <div class="govuk-form-group" [class]="{'govuk-form-group--error' : !editTypeRadio.valid && editFormatForm.submitted}">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="top-schools" name="editTypeRadio" type="radio" [(ngModel)]='editType' [value]="'FinancialFigures'"
          [class]="{'govuk-input--error' : !editTypeRadio.valid && editFormatForm.submitted}" required #editTypeRadio='ngModel'>
          <label class="govuk-label govuk-radios__label" for="top-schools">
            Using financial figures (£)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="manual" name="editTypeRadio" type="radio" [(ngModel)]='editType' [value]="'Percentages'"
          [class]="{'govuk-input--error' : !editTypeRadio.valid && editFormatForm.submitted}" required>
          <label class="govuk-label govuk-radios__label" for="manual">
            Using percentage of total expenditure/income
          </label>
        </div>
      </div>
      <div [hidden]="editTypeRadio.valid || !editFormatForm.submitted">
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Selection is required
        </span>
      </div>
    </fieldset>
  </div>

  <hr class="govuk-section-break govuk-section-break--l">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>
      <a (click) = 'onBack()' href="javascript:void(0)"
        class="govuk-link govuk-link--no-visited-state back-button">Back</a>
    </div>
  </div>

</form>
