<div *ngIf='firstScenarioLoaded && firstScenario.isTresholdsRefreshed && secondScenarioLoaded && secondScenario.isTresholdsRefreshed'>

  <app-sidebyside-breadcrumb [urn]='firstScenario.urn' [name]='firstScenario.name' class="hide-in-print"></app-sidebyside-breadcrumb>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Self-assessment dashboard</h1>
      <div class="govuk-caption-m date-caption" *ngIf='firstScenario.lastEditTimeStamp > secondScenario.lastEditTimeStamp'>Page last edited: {{firstScenario.lastEditTimeStamp | date: 'dd/MM/yy, HH:mm'}}</div>
      <div class="govuk-caption-m date-caption" *ngIf='secondScenario.lastEditTimeStamp > firstScenario.lastEditTimeStamp'>Page last edited: {{secondScenario.lastEditTimeStamp | date: 'dd/MM/yy, HH:mm'}}</div>
      <p class="govuk-body-s">
        Assessing
        <span class="highlight">
          <span class="govuk-!-font-weight-bold">{{firstScenario.name}}</span>
        </span>
        using <span class="govuk-!-font-weight-bold">custom</span> finance data.
      </p>
    </div>
  </div>

  <app-sidebyside-characteristics [scenarioName1]='firstScenario.scenarioName'
    [phase1]='firstScenario.overallPhaseWSixthForm' [londonWeight1]='firstScenario.londonWeighting'
    [noPupils1]='firstScenario.numberOfPupils' [FSM1]='firstScenario.fsm' [SizeLookup1]='firstScenario.sadSizeLookup'
    [FSMLookup1]='firstScenario.sadFSMLookup' [scenarioName2]='secondScenario.scenarioName'
    [phase2]='secondScenario.overallPhaseWSixthForm' [londonWeight2]='secondScenario.londonWeighting'
    [noPupils2]='secondScenario.numberOfPupils' [FSM2]='secondScenario.fsm' [SizeLookup2]='secondScenario.sadSizeLookup'
    [FSMLookup2]='secondScenario.sadFSMLookup'></app-sidebyside-characteristics>

  <div class="govuk-grid-row hide-in-print">
    <div class="govuk-grid-column-one-half">
      <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold">
        <img src="assets/images/icon-file-download.png" style="max-width: 17px;" class="small-icon" />
        <span>Download page</span>
      </a>
      <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold ml-4" (click)='onPrintPage()'>
        <img src="assets/images/icon-print.png" class="small-icon" />
        <span>Print page</span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <button class="govuk-button govuk-button--secondary float-right reset-button" data-module="govuk-button" (click)='onReset()'>
        Reset dashboard
      </button>
    </div>
  </div>

  <!-- - - - D E S K T O P   T A B L E - - -  -->
  <div *ngIf='!isMobileScreen'>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header no-bottom width-twenty-percent"></th>
          <th scope="col" class="govuk-table__header no-bottom pb-3 cell-separate width-forty-percent" colspan="3">
            <span class="govuk-!-font-size-24">{{firstScenario.scenarioName}}</span>
            <div class="govuk-caption-m">Scenario year {{firstScenario.termOfScenario}}</div>
            <div class="govuk-!-margin-top-1 hide-in-print">
              <a routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit/0' class="govuk-link link-button">Edit
                data</a>
              <span class="seperator">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <a [routerLink]='' class="govuk-link link-button" (click)='removeScenario(0)'>Remove</a>
            </div>
          </th>
          <th scope="col" class="govuk-table__header cell-separate no-bottom pb-3 width-forty-percent" colspan="3">
            <span class="govuk-!-font-size-24">{{secondScenario.scenarioName}}</span>
            <div class="govuk-caption-m">Scenario year {{secondScenario.termOfScenario}}</div>
            <div class="govuk-!-margin-top-1 hide-in-print">
              <a routerLink='/self-assessment/edit-data/{{secondScenario.urn}}/edit/1' class="govuk-link link-button">Edit
                data</a>
              <span class="seperator">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <a [routerLink]='' class="govuk-link link-button" (click)='removeScenario(1)'>Remove</a>
            </div>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col"
            class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Reserve
            and balance</th>
          <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent" colspan="3"></th>
          <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="3"></th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
          <th scope="col" class="govuk-table__header cell-separate width-ten-percent">School data</th>
          <th scope="col" class="govuk-table__header width-ten-percent">% of income</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
          <!---->
          <th scope="col" class="govuk-table__header cell-separate width-ten-percent">School data</th>
          <th scope="col" class="govuk-table__header width-ten-percent">% of income</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor='let _ of firstScenario.reserveAAs; let i=index'>
          <td class="govuk-table__cell aa-cell">{{firstScenario.reserveAAs[i].assessmentAreaName}}</td>
          <td class="govuk-table__cell cell-separate" nowrap>{{firstScenario.reserveAAs[i].schoolData | aaValueFormat}}
          </td>
          <td class="govuk-table__cell">
            {{firstScenario.reserveAAs[i].calculatedSchoolData | aaValueFormat : firstScenario.reserveAAs[i].assessmentAreaName}}
          </td>
          <td *ngIf="firstScenario.reserveAAs[i].schoolData != null" class="govuk-table__cell">
            <span class="rating-box"
              [class]='firstScenario.reserveAAs[i].matchingTreshold?.ratingColour'>{{firstScenario.reserveAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(firstScenario.reserveAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <td *ngIf="firstScenario.reserveAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{firstScenario.urn}}/{{firstScenario.reserveAAs[i].assessmentAreaName}}/0'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(firstScenario.reserveAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <!---->
          <td class="govuk-table__cell cell-separate" nowrap>{{secondScenario.reserveAAs[i].schoolData | aaValueFormat}}
          </td>
          <td class="govuk-table__cell">
            {{secondScenario.reserveAAs[i].calculatedSchoolData | aaValueFormat : secondScenario.reserveAAs[i].assessmentAreaName}}
          </td>
          <td *ngIf="secondScenario.reserveAAs[i].schoolData != null" class="govuk-table__cell">
            <span class="rating-box"
              [class]='secondScenario.reserveAAs[i].matchingTreshold?.ratingColour'>{{secondScenario.reserveAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(secondScenario.reserveAAs[i].assessmentAreaName, secondScenario)" />
          </td>
          <td *ngIf="secondScenario.reserveAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{secondScenario.urn}}/{{secondScenario.reserveAAs[i].assessmentAreaName}}/1'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(secondScenario.reserveAAs[i].assessmentAreaName, secondScenario)" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
            class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Spending
          </th>
          <th scope="col" class="govuk-table__header no-bottom  cell-separate width-forty-percent" colspan="3"></th>
          <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="3"></th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
          <th scope="col" class="govuk-table__header cell-separate width-ten-percent">School data</th>
          <th scope="col" class="govuk-table__header width-ten-percent">% of exp.</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
          <!---->
          <th scope="col" class="govuk-table__header cell-separate width-ten-percent">School data</th>
          <th scope="col" class="govuk-table__header width-ten-percent">% of exp.</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor='let _ of firstScenario.spendingAAs; let i=index'>
          <td class="govuk-table__cell aa-cell">{{firstScenario.spendingAAs[i].assessmentAreaName}}</td>
          <td class="govuk-table__cell cell-separate" nowrap>{{firstScenario.spendingAAs[i].schoolData | aaValueFormat}}
          </td>
          <td class="govuk-table__cell">
            {{firstScenario.spendingAAs[i].calculatedSchoolData | aaValueFormat : firstScenario.spendingAAs[i].assessmentAreaName }}
          </td>
          <td *ngIf="firstScenario.spendingAAs[i].schoolData != null" class="govuk-table__cell">
            <span class="rating-box"
              [class]='firstScenario.spendingAAs[i].matchingTreshold?.ratingColour'>{{firstScenario.spendingAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(firstScenario.spendingAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <td *ngIf="firstScenario.spendingAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{firstScenario.urn}}/{{firstScenario.spendingAAs[i].assessmentAreaName}}/0'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(firstScenario.spendingAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <!---->
          <td class="govuk-table__cell cell-separate" nowrap>{{secondScenario.spendingAAs[i].schoolData | aaValueFormat}}
          </td>
          <td class="govuk-table__cell">
            {{secondScenario.spendingAAs[i].calculatedSchoolData | aaValueFormat : secondScenario.spendingAAs[i].assessmentAreaName }}
          </td>
          <td *ngIf="secondScenario.spendingAAs[i].schoolData != null" class="govuk-table__cell">
            <span class="rating-box"
              [class]='secondScenario.spendingAAs[i].matchingTreshold?.ratingColour'>{{secondScenario.spendingAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(secondScenario.spendingAAs[i].assessmentAreaName, secondScenario)" />
          </td>
          <td *ngIf="secondScenario.spendingAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{secondScenario.urn}}/{{secondScenario.spendingAAs[i].assessmentAreaName}}/1'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(secondScenario.spendingAAs[i].assessmentAreaName, secondScenario)" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
            class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">School
            characteristics</th>
          <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent" colspan="2"></th>
          <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="2"></th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
          <th scope="col" class="govuk-table__header cell-separate width-twenty-percent">School data</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
          <!---->
          <th scope="col" class="govuk-table__header cell-separate width-twenty-percent">School data</th>
          <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor='let _ of firstScenario.characteristicAAs; let i=index'>
          <td class="govuk-table__cell aa-cell">{{firstScenario.characteristicAAs[i].assessmentAreaName}}</td>
          <td class="govuk-table__cell cell-separate" nowrap>
            <span>{{firstScenario.characteristicAAs[i].calculatedSchoolData | aaValueFormat : firstScenario.characteristicAAs[i].assessmentAreaName}}</span>
          </td>
          <td *ngIf="firstScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
            <span class="rating-box"
              [class]='firstScenario.characteristicAAs[i].matchingTreshold?.ratingColour'>{{firstScenario.characteristicAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(firstScenario.characteristicAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <td *ngIf="!firstScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{firstScenario.urn}}/{{firstScenario.characteristicAAs[i].assessmentAreaName}}/0'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(firstScenario.characteristicAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <!---->
          <td class="govuk-table__cell cell-separate" nowrap>
            <span>{{secondScenario.characteristicAAs[i].calculatedSchoolData | aaValueFormat : secondScenario.characteristicAAs[i].assessmentAreaName}}</span>
          </td>
          <td *ngIf="secondScenario.characteristicAAs[i].schoolData != null" class="govuk-table__cell">
            <span class="rating-box"
              [class]='secondScenario.characteristicAAs[i].matchingTreshold?.ratingColour'>{{secondScenario.characteristicAAs[i].matchingTreshold?.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(secondScenario.characteristicAAs[i].assessmentAreaName, secondScenario)" />
          </td>
          <td *ngIf="secondScenario.characteristicAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span>
              <a class="govuk-link ml-2 button-link hide-in-print"
                routerLink='/self-assessment/add-missing-data/{{secondScenario.urn}}/{{secondScenario.characteristicAAs[i].assessmentAreaName}}/1'>Add
                data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon na"
              (click)="openModalWithComponent(secondScenario.characteristicAAs[i].assessmentAreaName, secondScenario)" />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col"
            class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Outcomes
          </th>
          <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent"></th>
          <th scope="col" class="govuk-table__header no-bottom width-forty-percent"></th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
          <th scope="col" class="govuk-table__header cell-separate width-forty-percent" colspan="2">School data</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell aa-cell">Ofsted rating</td>
          <td class="govuk-table__cell cell-separate" colspan="2">
            <span class="rating rating-{{firstScenario.ofstedRating}}"> {{firstScenario.ofstedRating}} </span>
            <span [ngSwitch]="firstScenario.ofstedRating">
              <span class="govuk-!-font-weight-bold" *ngSwitchCase="'1'"> Outstanding</span>
              <span class="govuk-!-font-weight-bold" *ngSwitchCase="'2'"> Good</span>
              <span class="govuk-!-font-weight-bold" *ngSwitchCase="'3'"> Requires improvement</span>
              <span class="govuk-!-font-weight-bold" *ngSwitchCase="'4'"> Inadequate</span>
            </span> |
            <a class="govuk-link" target="_blank" rel="external noopener noreferrer"
              href="https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{{firstScenario.urn}}">Ofsted
              report</a>
            <span *ngIf='firstScenario.ofstedInspectionDate'> | Inspected
              {{ firstScenario.ofstedInspectionDate | date : 'dd MMMM yyyy' }}</span>
            <img style="float: right; margin-right: 11px;" src="assets/images/help-icon.png"
              class="small-icon rating-help-icon" (click)="openModalWithComponent('Ofsted', null)" />
          </td>
        </tr>
        <tr class="govuk-table__row" *ngIf="firstScenario.progressScoreType === 'KS2 score'">
          <td class="govuk-table__cell aa-cell">{{firstScenario.progressScoreType}}</td>
          <td class="govuk-table__cell progress-td cell-separate" colspan="2">
            <div *ngIf='firstScenario.progressScore'>
              <span class="progress-text" [ngClass]="{
                              'progress-text-well-below': firstScenario.progressScore < -3 ,
                              'progress-text--below': firstScenario.progressScore >= -3 && firstScenario.progressScore < -2,
                              'progress-text--average': firstScenario.progressScore >= -2 && firstScenario.progressScore <= 2,
                              'progress-text--above': firstScenario.progressScore <= 3 && firstScenario.progressScore > 2,
                              'progress-text--well-above': firstScenario.progressScore > 3}">
                {{firstScenario.progressScore | number: '1.2-2'}}
                <span *ngIf="firstScenario.progressScore < -3">&nbsp; Well below average</span>
                <span *ngIf="firstScenario.progressScore >= -3 && firstScenario.progressScore < -2">&nbsp; Below
                  average</span>
                <span *ngIf="firstScenario.progressScore >= -2 && firstScenario.progressScore <= 2">&nbsp; Average</span>
                <span *ngIf="firstScenario.progressScore <= 3 && firstScenario.progressScore > 2">&nbsp; Above
                  average</span>
                <span *ngIf="firstScenario.progressScore > 3">&nbsp; Well above average</span>
              </span>
            </div>
            <span [hidden]='firstScenario.progressScore' style="float: left">N/A</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent('KS2', null)" />
          </td>
        </tr>
        <tr class="govuk-table__row" *ngIf="firstScenario.progressScoreType === 'Progress 8 score'">
          <td class="govuk-table__cell aa-cell">{{firstScenario.progressScoreType}}</td>
          <td class="govuk-table__cell progress-td cell-separate" colspan="2">
            <div *ngIf='firstScenario.progressScore'>
              <span class="progress-text" [ngClass]="{
                              'progress-text--well-below': firstScenario.progress8Banding === 5,
                              'progress-text--below': firstScenario.progress8Banding === 4,
                              'progress-text--average': firstScenario.progress8Banding === 3,
                              'progress-text--above': firstScenario.progress8Banding === 2,
                              'progress-text--well-above': firstScenario.progress8Banding === 1}">
                {{firstScenario.progressScore | number: '1.2-2'}}
                <span [ngSwitch]="firstScenario.progress8Banding">
                  <span *ngSwitchCase="5">&nbsp; Well below average</span>
                  <span *ngSwitchCase="4">&nbsp; Below average</span>
                  <span *ngSwitchCase="3">&nbsp; Average</span>
                  <span *ngSwitchCase="2">&nbsp; Above average</span>
                  <span *ngSwitchCase="1">&nbsp; Well above average</span>
                </span>
              </span>
            </div>
            <span [hidden]='firstScenario.progressScore' style="float: left">N/A</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent('P8', null)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- - - - D E S K T O P   T A B L E - - -  -->

  <!-- - - - M O B I L E   T A B L E - - -  -->
  <div *ngIf='isMobileScreen' class="mobile-tables">
    <table class="govuk-table">
      <tr class="govuk-table__row">
        <td class="govuk-table__header width-fifty-percent">
          <span class="govuk-!-font-size-24 govuk-!-margin-right-5">{{firstScenario.scenarioName}}</span>
          <div class="govuk-caption-m">Scenario year {{firstScenario.termOfScenario}}</div>
          <div class="govuk-!-margin-top-1 hide-in-print">
            <a routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit/0' class="govuk-link link-button">Edit
              data</a>
            <span class="seperator">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a [routerLink]='' class="govuk-link link-button" (click)='removeScenario(0)'>Remove</a>
          </div>
        </td>
        <td class="govuk-table__header width-fifty-percent">
          <span class="govuk-!-font-size-24">{{secondScenario.scenarioName}}</span>
          <div class="govuk-caption-m">Scenario year {{secondScenario.termOfScenario}}</div>
          <div class="govuk-!-margin-top-1 hide-in-print">
            <a routerLink='/self-assessment/edit-data/{{secondScenario.urn}}/edit/1' class="govuk-link link-button">Edit
              data</a>
            <span class="seperator">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a [routerLink]='' class="govuk-link link-button" (click)='removeScenario(1)'>Remove</a>
          </div>
        </td>
      </tr>
    </table>

    <h3 class="govuk-heading-m">Reserve and balance</h3>

    <table class="govuk-table" *ngFor='let _ of firstScenario.reserveAAs; let i=index'>
      <caption class="govuk-table__caption bottom-border">{{firstScenario.reserveAAs[i].assessmentAreaName}}</caption>
      <thead>
        <tr class="govuk-table__row">
          <th class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">{{firstScenario.scenarioName}}</th>
          <th scope="col" class="govuk-table__header">{{secondScenario.scenarioName}}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" >
          <th scope="row" class="govuk-table__header width-thirty-four-percent">School data</th>
          <td class="govuk-table__cell  width-thirty-three-percent">{{firstScenario.reserveAAs[i].schoolData | aaValueFormat}}</td>
          <td class="govuk-table__cell  width-thirty-three-percent">{{secondScenario.reserveAAs[i].schoolData | aaValueFormat}}</td>
        </tr>
        <tr class="govuk-table__row" >
          <th scope="row" class="govuk-table__header">% of income</th>
          <td class="govuk-table__cell">{{firstScenario.reserveAAs[i].calculatedSchoolData | aaValueFormat : firstScenario.reserveAAs[i].assessmentAreaName}}</td>
          <td class="govuk-table__cell">{{secondScenario.reserveAAs[i].calculatedSchoolData | aaValueFormat : secondScenario.reserveAAs[i].assessmentAreaName}}</td>
        </tr>
        <tr class="govuk-table__row" >
          <th scope="row" class="govuk-table__header">Rating against tresholds</th>
          <td *ngIf="firstScenario.reserveAAs[i].schoolData != null && firstScenario.reserveAAs[i].matchingTreshold" class="govuk-table__cell">
            <span class="rating-box" [class]='firstScenario.reserveAAs[i].matchingTreshold.ratingColour'>{{firstScenario.reserveAAs[i].matchingTreshold.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(firstScenario.reserveAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <td *ngIf="firstScenario.reserveAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span><br>
              <a class="govuk-link button-link hide-in-print"
              routerLink='/self-assessment/add-missing-data/{{firstScenario.urn}}/{{firstScenario.reserveAAs[i].assessmentAreaName}}'>Add data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
            (click)="openModalWithComponent(firstScenario.reserveAAs[i].assessmentAreaName, firstScenario)" />
          </td>
          <td *ngIf="secondScenario.reserveAAs[i].schoolData != null && secondScenario.reserveAAs[i].matchingTreshold" class="govuk-table__cell">
            <span class="rating-box" [class]='secondScenario.reserveAAs[i].matchingTreshold.ratingColour'>{{secondScenario.reserveAAs[i].matchingTreshold.ratingText}}</span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
              (click)="openModalWithComponent(secondScenario.reserveAAs[i].assessmentAreaName, secondScenario)" />
          </td>
          <td *ngIf="secondScenario.reserveAAs[i].schoolData === null" class="govuk-table__cell">
            <span class="rating-box gray">
              <span>Not available.</span><br>
              <a class="govuk-link button-link hide-in-print"
              routerLink='/self-assessment/add-missing-data/{{secondScenario.urn}}/{{secondScenario.reserveAAs[i].assessmentAreaName}}'>Add data</a>
            </span>
            <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
            (click)="openModalWithComponent(secondScenario.reserveAAs[i].assessmentAreaName, secondScenario)" />
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <!-- - - - M O B I L E   T A B L E - - -  -->

</div>

<div [hidden]='firstScenarioLoaded && firstScenario.isTresholdsRefreshed && secondScenarioLoaded && secondScenario.isTresholdsRefreshed'>
  Loading...
</div>
