<app-sidebyside-breadcrumb [urn]='firstScenario.urn' [name]='firstScenario.name'></app-sidebyside-breadcrumb>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Side-by-side scenario</h1>
    <p class="govuk-body-s">
      Assessing
      <span class="highlight">
        <span class="govuk-!-font-weight-bold">{{firstScenario.name}}</span>
      </span>
      using <span class="govuk-!-font-weight-bold">custom</span> finance data.
    </p>
  </div>
</div>

<app-sidebyside-characteristics
[scenarioName1] = 'firstScenario.scenarioName'
[phase1]='firstScenario.overallPhaseWSixthForm'
[londonWeight1]='firstScenario.londonWeighting'
[noPupils1]='firstScenario.numberOfPupils'
[FSM1]='firstScenario.fsm'
[SizeLookup1]='firstScenario.sadSizeLookup'
[FSMLookup1]='firstScenario.sadFSMLookup'
[scenarioName2] = 'secondScenario.scenarioName'
[phase2]='secondScenario.overallPhaseWSixthForm'
[londonWeight2]='secondScenario.londonWeighting'
[noPupils2]='secondScenario.numberOfPupils'
[FSM2]='secondScenario.fsm'
[SizeLookup2]='secondScenario.sadSizeLookup'
[FSMLookup2]='secondScenario.sadFSMLookup'
></app-sidebyside-characteristics>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="float-right">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Edit scenarios
      </button>
    </div>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header no-bottom width-twenty-percent"></th>
      <th scope="col" class="govuk-table__header no-bottom pb-3 cell-separate width-forty-percent" colspan="3">{{firstScenario.scenarioName}}</th>
      <th scope="col" class="govuk-table__header cell-separate no-bottom pb-3 width-forty-percent" colspan="3">{{secondScenario.scenarioName}}</th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Spending</th>
      <th scope="col" class="govuk-table__header no-bottom  cell-separate width-forty-percent" colspan="3"></th>
      <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="3"></th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-ten-percent">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric width-ten-percent">% of exp.</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
      <!---->
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-ten-percent">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric width-ten-percent">% of exp.</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let _ of firstScenario.spendingAAs; let i=index'>
      <td class="govuk-table__cell">{{firstScenario.spendingAAs[i].assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">{{firstScenario.spendingAAs[i].schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{firstScenario.spendingAAs[i].percentageSchoolData | percent : '1.0-1'}}</td>
      <td *ngIf="firstScenario.spendingAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='firstScenario.spendingAAs[i].matchingTreshold.ratingColour'>{{firstScenario.spendingAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!firstScenario.spendingAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
      <!---->
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">{{secondScenario.spendingAAs[i].schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{secondScenario.spendingAAs[i].percentageSchoolData | percent : '1.0-1'}}</td>
      <td *ngIf="secondScenario.spendingAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='secondScenario.spendingAAs[i].matchingTreshold.ratingColour'>{{secondScenario.spendingAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!secondScenario.spendingAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{secondScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Reserve and balance</th>
      <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent" colspan="3"></th>
      <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="3"></th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-ten-percent">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric width-ten-percent">% of exp.</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
      <!---->
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-ten-percent">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric width-ten-percent">% of exp.</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let _ of firstScenario.reserveAAs; let i=index'>
      <td class="govuk-table__cell">{{firstScenario.reserveAAs[i].assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">{{firstScenario.reserveAAs[i].schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{firstScenario.reserveAAs[i].percentageSchoolData | percent : '1.0-1'}}</td>
      <td *ngIf="firstScenario.reserveAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='firstScenario.reserveAAs[i].matchingTreshold.ratingColour'>{{firstScenario.reserveAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!firstScenario.reserveAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
      <!---->
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">{{secondScenario.reserveAAs[i].schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{secondScenario.reserveAAs[i].percentageSchoolData | percent : '1.0-1'}}</td>
      <td *ngIf="secondScenario.reserveAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='secondScenario.reserveAAs[i].matchingTreshold.ratingColour'>{{secondScenario.reserveAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!secondScenario.reserveAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{secondScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">School characteristics</th>
      <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent" colspan="2"></th>
      <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent" colspan="2"></th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-twenty-percent">School data</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
      <!---->
      <th scope="col" class="govuk-table__header govuk-table__header--numeric cell-separate width-twenty-percent">School data</th>
      <th scope="col" class="govuk-table__header width-twenty-percent">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let _ of firstScenario.characteristicAAs; let i=index'>
      <td class="govuk-table__cell">{{firstScenario.characteristicAAs[i].assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">
        <span *ngIf="firstScenario.characteristicAAs[i].schoolDataFormat ==='currency'">{{firstScenario.characteristicAAs[i].percentageSchoolData | currency: 'GBP' :'symbol': '1.0-0'}}</span>
        <span *ngIf="firstScenario.characteristicAAs[i].schoolDataFormat ==='percentageOfExp' || firstScenario.characteristicAAs[i].schoolDataFormat ==='percentageOfInc' || firstScenario.characteristicAAs[i].schoolDataFormat==='percentageOfWf'">{{firstScenario.characteristicAAs[i].percentageSchoolData | percent: '1.0-0'}}</span>
        <span *ngIf="firstScenario.characteristicAAs[i].schoolDataFormat ==='number'">{{firstScenario.characteristicAAs[i].percentageSchoolData | number: '1.0-1'}}</span>
        <span *ngIf="!firstScenario.characteristicAAs[i].schoolData"></span>
      </td>
      <td *ngIf="firstScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='firstScenario.characteristicAAs[i].matchingTreshold.ratingColour'>{{firstScenario.characteristicAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!firstScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
      <!---->
      <td class="govuk-table__cell govuk-table__cell--numeric cell-separate">
        <span *ngIf="secondScenario.characteristicAAs[i].schoolDataFormat ==='currency'">{{secondScenario.characteristicAAs[i].percentageSchoolData | currency: 'GBP' :'symbol': '1.0-0'}}</span>
        <span *ngIf="secondScenario.characteristicAAs[i].schoolDataFormat ==='percentageOfExp' || secondScenario.characteristicAAs[i].schoolDataFormat ==='percentageOfInc' || secondScenario.characteristicAAs[i].schoolDataFormat==='percentageOfWf'">{{secondScenario.characteristicAAs[i].percentageSchoolData | percent: '1.0-0'}}</span>
        <span *ngIf="secondScenario.characteristicAAs[i].schoolDataFormat ==='number'">{{secondScenario.characteristicAAs[i].percentageSchoolData | number: '1.0-1'}}</span>
        <span *ngIf="!secondScenario.characteristicAAs[i].schoolData"></span>
      </td>
      <td *ngIf="secondScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box" [class]='secondScenario.characteristicAAs[i].matchingTreshold.ratingColour'>{{secondScenario.characteristicAAs[i].matchingTreshold.ratingText}}</span>
      </td>
      <td *ngIf="!secondScenario.characteristicAAs[i].schoolData" class="govuk-table__cell">
        <span class="rating-box gray">
          <span>Not available.</span>
          <a class="govuk-link ml-2 button-link" routerLink='/self-assessment/edit-data/{{firstScenario.urn}}/edit'>Add data</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header no-bottom govuk-table__caption govuk-!-font-size-24 width-twenty-percent">Outcomes</th>
      <th scope="col" class="govuk-table__header no-bottom cell-separate width-forty-percent"></th>
      <th scope="col" class="govuk-table__header cell-separate no-bottom width-forty-percent"></th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header width-twenty-percent">Assessment area</th>
      <th scope="col" class="govuk-table__header cell-separate width-forty-percent">School data</th>
      <!---->
      <th scope="col" class="govuk-table__header cell-separate width-forty-percent">School data</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Ofsted rating</td>
      <td class="govuk-table__cell cell-separate">
        <span class="rating rating-{{firstScenario.ofstedRating}}"> {{firstScenario.ofstedRating}} </span>
        <span [ngSwitch]="firstScenario.ofstedRating">
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'1'"> Outstanding</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'2'"> Good</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'3'"> Requires improvement</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'4'"> Inadequate</span>
        </span> |
        <a class="govuk-link" target="_blank" rel="external noopener noreferrer" href="https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{{firstScenario.urn}}">Ofsted report</a>
        <span *ngIf='firstScenario.ofstedInspectionDate'> | Inspected {{ firstScenario.ofstedInspectionDate | date : 'dd MMMM yyyy' }}</span>
      </td>
      <!---->
      <td class="govuk-table__cell cell-separate">
        <span class="rating rating-{{secondScenario.ofstedRating}}"> {{secondScenario.ofstedRating}} </span>
        <span [ngSwitch]="secondScenario.ofstedRating">
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'1'"> Outstanding</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'2'"> Good</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'3'"> Requires improvement</span>
          <span class="govuk-!-font-weight-bold" *ngSwitchCase="'4'"> Inadequate</span>
        </span> |
        <a class="govuk-link" target="_blank" rel="external noopener noreferrer" href="https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{{firstScenario.urn}}">Ofsted report</a>
        <span *ngIf='secondScenario.ofstedInspectionDate'> | Inspected {{ secondScenario.ofstedInspectionDate | date : 'dd MMMM yyyy' }}</span>
      </td>
    </tr>
    <tr class="govuk-table__row" *ngIf="firstScenario.progressScoreType === 'KS2 score'">
      <td class="govuk-table__cell">{{firstScenario.progressScoreType}}</td>
      <td class="govuk-table__cell progress-td cell-separate">
        <span class="progress-text" [ngClass]="{
              'progress-text-well-below': firstScenario.progressScore < -3 ,
              'progress-text--below': firstScenario.progressScore >= -3 && firstScenario.progressScore < -2,
              'progress-text--average': firstScenario.progressScore >= -2 && firstScenario.progressScore <= 2,
              'progress-text--above': firstScenario.progressScore <= 3 && firstScenario.progressScore > 2,
              'progress-text--well-above': firstScenario.progressScore > 3}">
          {{firstScenario.progressScore | number: '1.2-2'}}
          <span *ngIf="firstScenario.progressScore < -3">&nbsp; Well below average</span>
          <span *ngIf="firstScenario.progressScore >= -3 && firstScenario.progressScore < -2">&nbsp; Below average</span>
          <span *ngIf="firstScenario.progressScore >= -2 && firstScenario.progressScore <= 2">&nbsp; Average</span>
          <span *ngIf="firstScenario.progressScore <= 3 && firstScenario.progressScore > 2">&nbsp; Above average</span>
          <span *ngIf="firstScenario.progressScore > 3">&nbsp; Well above average</span>
        </span>
      </td>
      <!---->
      <td class="govuk-table__cell progress-td cell-separate">
        <span class="progress-text" [ngClass]="{
              'progress-text-well-below': secondScenario.progressScore < -3 ,
              'progress-text--below': secondScenario.progressScore >= -3 && secondScenario.progressScore < -2,
              'progress-text--average': secondScenario.progressScore >= -2 && secondScenario.progressScore <= 2,
              'progress-text--above': secondScenario.progressScore <= 3 && secondScenario.progressScore > 2,
              'progress-text--well-above': secondScenario.progressScore > 3}">
          {{secondScenario.progressScore | number: '1.2-2'}}
          <span *ngIf="secondScenario.progressScore < -3">&nbsp; Well below average</span>
          <span *ngIf="secondScenario.progressScore >= -3 && secondScenario.progressScore < -2">&nbsp; Below average</span>
          <span *ngIf="secondScenario.progressScore >= -2 && secondScenario.progressScore <= 2">&nbsp; Average</span>
          <span *ngIf="secondScenario.progressScore <= 3 && secondScenario.progressScore > 2">&nbsp; Above average</span>
          <span *ngIf="secondScenario.progressScore > 3">&nbsp; Well above average</span>
        </span>
      </td>
    </tr>
    <tr class="govuk-table__row" *ngIf="firstScenario.progressScoreType === 'Progress 8 score'">
      <td class="govuk-table__cell">{{firstScenario.progressScoreType}}</td>
      <td class="govuk-table__cell progress-td cell-separate">
        <span class="progress-text" [ngClass]="{
              'progress-text--well-below': firstScenario.progress8Banding === 5,
              'progress-text--below': firstScenario.progress8Banding === 4,
              'progress-text--average': firstScenario.progress8Banding === 3,
              'progress-text--above': firstScenario.progress8Banding === 2,
              'progress-text--well-above': firstScenario.progress8Banding === 1}">
          {{firstScenario.progressScore | number: '1.2-2'}}
          <span [ngSwitch]="firstScenario.progress8Banding">
            <span *ngSwitchCase="5">&nbsp; Well below average</span>
            <span *ngSwitchCase="4">&nbsp; Below average</span>
            <span *ngSwitchCase="3">&nbsp; Average</span>
            <span *ngSwitchCase="2">&nbsp; Above average</span>
            <span *ngSwitchCase="1">&nbsp; Well above average</span>
          </span>
        </span>
      </td>
      <!---->
      <td class="govuk-table__cell progress-td cell-separate">
        <span class="progress-text" [ngClass]="{
              'progress-text--well-below': secondScenario.progress8Banding === 5,
              'progress-text--below': secondScenario.progress8Banding === 4,
              'progress-text--average': secondScenario.progress8Banding === 3,
              'progress-text--above': secondScenario.progress8Banding === 2,
              'progress-text--well-above': secondScenario.progress8Banding === 1}">
          {{secondScenario.progressScore | number: '1.2-2'}}
          <span [ngSwitch]="secondScenario.progress8Banding">
            <span *ngSwitchCase="5">&nbsp; Well below average</span>
            <span *ngSwitchCase="4">&nbsp; Below average</span>
            <span *ngSwitchCase="3">&nbsp; Average</span>
            <span *ngSwitchCase="2">&nbsp; Above average</span>
            <span *ngSwitchCase="1">&nbsp; Well above average</span>
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

