<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <a class="pull-right modal-close-link" aria-label="Close modal dialog" [routerLink]='' (click)="bsModalRef.hide()">
    <span aria-hidden="true">Close</span>
  </a>
</div>
<div class="modal-body">
 <div class="aa-modal-left-section {{assessmentArea}}">
    <div [innerHTML]='textContent'></div>
    <a *ngIf='tresholds' class="govuk-link" target="_blank" rel="external noopener noreferrer" href="https://www.gov.uk/government/publications/school-resource-management-self-assessment-tool/dashboard-support-notes">Further information</a>
 </div>
 <div class="aa-modal-right-section" *ngIf='tresholds'>
  <table class="govuk-table aa-modal-right-section__table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" *ngIf="tresholdFormat==='percentageOfExp'" >% of expenditure</th>
        <th scope="col" class="govuk-table__header" *ngIf="tresholdFormat==='percentageOfInc'" >% of income</th>
        <th scope="col" class="govuk-table__header" *ngIf="tresholdFormat==='percentageOfWf'" >% of workforce</th>
        <th scope="col" class="govuk-table__header" *ngIf="tresholdFormat==='currency'" >Treshold</th>
        <th scope="col" class="govuk-table__header" *ngIf="tresholdFormat==='number'" >Treshold</th>
        <th scope="col" class="govuk-table__header">Rating against tresholds</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor='let treshold of tresholds'>
        <td class="govuk-table__cell">
           <span [class]="{'highlighted-percentage': treshold.scoreLow === matchingTreshold?.scoreLow}">
             {{treshold.scoreLow == null ? '&infin;' : treshold.scoreLow | aaValueFormat : assessmentArea}}
             {{treshold.scoreHigh != null ? ' - ' : ''}}
             {{treshold.scoreHigh == null ? ' and above' : treshold.scoreHigh | aaValueFormat : assessmentArea}}
             <span *ngIf='treshold.scoreLow === matchingTreshold?.scoreLow' class="visually-hidden"> Matching treshold</span>
            </span>
        </td>
        <td class="govuk-table__cell"><span class="rating-box" [class]='treshold.ratingColour'>{{treshold.ratingText}}</span>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</div>
