<app-dashboard-bread-crumb [urn]='this.model.urn' [name]='this.model.name'></app-dashboard-bread-crumb>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Self-assessment dashboard</h1>
    <p class="govuk-body-s">
      Assessing
      <span class="highlight">
        <span class="govuk-!-font-weight-bold">{{model.name}}</span>
      </span>
      using
      <span class="govuk-!-font-weight-bold">{{model.latestTerm}}</span>
      finance data. This data includes
      <span class="govuk-!-font-weight-bold">MAT central finance</span>.
    </p>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Methodology</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The efficiency metric algorithm looks for 50 schools across the country which are similar to your school based on:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s govuk-!-font-weight-bold ul-two-cols">
      <li>Pupils eligible for FSM in the last 6 years</li>
      <li>Number of pupils</li>
      <li>Pupils with a SEN statement or EHCP</li>
      <li>School phase</li>
      <li>School type</li>
    </ul>
    <p>We divide these school's progress score by their expenditure per pupil (we will standardise the score) allowing us to rank the 50 schools.</p>
    <p class="govuk-!-font-weight-bold">
      Standardised progress score / Expenditure per pupil = Efficiency Metric Ranking
    </p>
  </div>
</ng-template>
