@import "govuk-frontend/govuk/all";

@media print {

  table {
    page-break-inside: avoid;
  }

  h1 {
    margin-top: 40px!important;
  }

  h2 {
    margin-top: 50px!important;
  }

}

.progress-icon, .ofsted-icon {
  float: right;
  margin-right: 5px;
  position: relative;
  top: 3px;

  @include govuk-media-query($from: tablet) {
    margin-right: 20px;
  }

  @include govuk-media-query($from: desktop) {
    margin-right: 13px;
  }
}

.govuk-table {
  font-size: 16px;
}

.rating-help-icon{
  margin-left: 5px;
  cursor: pointer;
  @include govuk-media-query($from: tablet) {
    margin-left: 15px;
}
}

.rating {
  display: inline-block;
  width: 18px;
  height: 21px;
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

.rating-1 {
  background-color:  govuk-colour("green");
}

.rating-2 {
  background-color:  govuk-colour("blue");
}

.rating-3 {
  background-color:  govuk-colour("orange");
  color:  $govuk-text-colour
}

.rating-4 {
  background-color: govuk-colour("red");
}

.rating-0 {
  background-color:  govuk-colour("light-grey");
}

.progress-td {
  text-align: center;
}

.progress-text {
  text-align: center;
  padding: 3px;
  min-width: 50px;
  display: inline-block;
  border-radius: 3px;
  width: 99%;

  &--well-below {
    background-color: #df3034;
    color: #fff;
}

&--below {
    background-color: #f47738;
    color: #fff;
}

&--average {
    background-color: #ffbf47;
}

&--above {
    background-color: #85994b;
    color: #fff;
}

&--well-above {
    background-color: #006435;
    color: #fff;
}
}

.progress-text-wrapper {
    display: inline;
    float: left;
    width: 80%;

    @include govuk-media-query($from: tablet) {
      width: 87%;
    }

    @include govuk-media-query($from: desktop) {
      width: 92%;
    }
}

.sbs-buttons-wrapper {
  @include govuk-media-query($from: tablet) {
    width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}

.sbs-buttons {
  margin-top: 25px;

  @include govuk-media-query($from: desktop) {
    float: right;
  }

  @include govuk-media-query($from: desktop) {
      margin-left: 45px;
      margin-top: 0;

  }
}
.reset-button{
  @include govuk-media-query($from: tablet) {
    margin-left: 10px;
  }
}

.mobile-tables {
  th{
    width: 125px;
  }

  .ofsted-info-wrapper{
    max-width: 151px;
    display: inline-block;
    font-size: 14px;
  }
}
