<div *ngIf='scenarioLoaded && activeScenario?.isTresholdsRefreshed'>

  <app-dashboard-bread-crumb [urn]='activeScenario.urn' [name]='activeScenario.name'></app-dashboard-bread-crumb>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Self-assessment dashboard</h1>
      <div class="govuk-caption-m date-caption" *ngIf='activeScenario.isEdited'>Page last edited: {{activeScenario.lastEditTimeStamp | date: 'dd/MM/yy, HH:mm'}}</div>
      <p class="govuk-body-s">
        Assessing
        <span class="highlight">
          <span class="govuk-!-font-weight-bold">{{activeScenario.name}}</span>
        </span>
        using
        <span class="govuk-!-font-weight-bold">{{activeScenario.termOfScenario}}</span>
        finance data.

        <span *ngIf="this.activeScenario.financeType === 'Academies'">
          This data includes
          <span class="govuk-!-font-weight-bold">MAT central finance</span>.
        </span>
      </p>
    </div>
  </div>

  <app-dashboard-characteristics [phase]='activeScenario.overallPhaseWSixthForm'
    [londonWeight]='activeScenario.londonWeighting' [noPupils]='activeScenario.numberOfPupils'
    [FSM]='activeScenario.fsm' [SizeLookup]='activeScenario.sadSizeLookup' [FSMLookup]='activeScenario.sadFSMLookup'>
  </app-dashboard-characteristics>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold">
        <img src="assets/images/icon-file-download.png" style="max-width: 17px;" class="small-icon" />
        <span>Download page</span>
      </a>
      <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold ml-4" (click)='onPrintPage()'>
        <img src="assets/images/icon-print.png" class="small-icon" />
        <span>Print page</span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="float-right">
        <button class="govuk-button govuk-!-margin-right-4" data-module="govuk-button"
          routerLink='/self-assessment/edit-data/{{urn}}/enter' [disabled]='!this.scenarioLoaded'>
          Add a side-by-side scenario
        </button>
        <button *ngIf='activeScenario.isEdited' class="govuk-button govuk-button--secondary float-right" data-module="govuk-button"
          (click)='onReset()'>
          Reset dashboard
        </button>
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-m">{{activeScenario.scenarioName}}</h2>

  <div class="govuk-caption-m">Scenario year {{activeScenario.termOfScenario}}</div>

  <div class="govuk-!-margin-bottom-3">
    <a class="govuk-link" routerLink='/self-assessment/edit-data/{{urn}}/edit' [hidden]='!this.scenarioLoaded'>
      Edit data
    </a>
  </div>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-24">Reserve and balance</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header width-forty-percent">Assessment area</th>
        <th scope="col" class="govuk-table__header width-ten-percent">School data</th>
        <th scope="col" class="govuk-table__header width-ten-percent">% of income</th>
        <th scope="col" class="govuk-table__header width-forty-percent">Rating against tresholds</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor='let aa of activeScenario.reserveAAs'>
        <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
        <td class="govuk-table__cell" nowrap>{{aa.schoolData | aaValueFormat}}</td>
        <td class="govuk-table__cell">{{aa.calculatedSchoolData | aaValueFormat : aa.assessmentAreaName}}</td>
        <td *ngIf="aa.schoolData != null && aa.matchingTreshold" class="govuk-table__cell">
          <span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
            (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
        <td *ngIf="aa.schoolData === null" class="govuk-table__cell">
          <span class="rating-box gray">
            <span>Not available.</span>
            <a class="govuk-link ml-2 button-link"
            routerLink='/self-assessment/add-missing-data/{{activeScenario.urn}}/{{aa.assessmentAreaName}}'>Add data</a>
          </span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-24">Spending</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header width-forty-percent">Assessment area</th>
        <th scope="col" class="govuk-table__header width-ten-percent">School data</th>
        <th scope="col" class="govuk-table__header width-ten-percent">% of exp.</th>
        <th scope="col" class="govuk-table__header width-forty-percent">Rating against tresholds</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor='let aa of activeScenario.spendingAAs'>
        <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
        <td class="govuk-table__cell" nowrap>{{aa.schoolData | aaValueFormat}}</td>
        <td class="govuk-table__cell">{{aa.calculatedSchoolData | aaValueFormat : aa.assessmentAreaName}}</td>
        <td *ngIf="aa.schoolData != null && aa.matchingTreshold" class="govuk-table__cell">
          <span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
            (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
        <td *ngIf="aa.schoolData === null" class="govuk-table__cell">
          <span class="rating-box gray">
            <span>Not available.</span>
            <a class="govuk-link ml-2 button-link"
            routerLink='/self-assessment/add-missing-data/{{activeScenario.urn}}/{{aa.assessmentAreaName}}'>Add data</a>
          </span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-24">School characteristics</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header width-forty-percent">Assessment area</th>
        <th scope="col" class="govuk-table__header width-twenty-percent">School data</th>
        <th scope="col" class="govuk-table__header width-forty-percent">Rating against tresholds</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" *ngFor='let aa of activeScenario.characteristicAAs'>
        <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
        <td class="govuk-table__cell" nowrap>
          <span>{{aa.calculatedSchoolData | aaValueFormat : aa.assessmentAreaName}}</span>
        </td>
        <td *ngIf="aa.schoolData != null && aa.matchingTreshold"
          class="govuk-table__cell">
          <span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
            (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
        <td *ngIf='aa.schoolData === null || aa.schoolData === undefined' class="govuk-table__cell">
          <span class="rating-box gray">
            <span>Not available.</span>
            <a class="govuk-link ml-2 button-link"
            routerLink='/self-assessment/add-missing-data/{{activeScenario.urn}}/{{aa.assessmentAreaName}}'>Add data</a>
          </span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent(aa.assessmentAreaName)" />
        </td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-24">Outcomes</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header width-forty-percent">Assessment area</th>
        <th scope="col" class="govuk-table__header">School data</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Ofsted rating</td>
        <td class="govuk-table__cell">
          <span class="rating rating-{{activeScenario.ofstedRating}}"> {{activeScenario.ofstedRating}} </span>
          <span [ngSwitch]="activeScenario.ofstedRating">
            <span class="govuk-!-font-weight-bold" *ngSwitchCase="'1'"> Outstanding</span>
            <span class="govuk-!-font-weight-bold" *ngSwitchCase="'2'"> Good</span>
            <span class="govuk-!-font-weight-bold" *ngSwitchCase="'3'"> Requires improvement</span>
            <span class="govuk-!-font-weight-bold" *ngSwitchCase="'4'"> Inadequate</span>
          </span> |
          <a class="govuk-link" target="_blank" rel="external noopener noreferrer"
            href="https://reports.ofsted.gov.uk/inspection-reports/find-inspection-report/provider/ELS/{{activeScenario.urn}}">Ofsted
            report</a>
          <span *ngIf='activeScenario.ofstedInspectionDate'> | Inspected
            {{ activeScenario.ofstedInspectionDate | date : 'dd MMMM yyyy' }}</span>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent('Ofsted')"/>
        </td>
      </tr>
      <tr class="govuk-table__row" *ngIf="activeScenario.progressScoreType === 'KS2 score'">
        <td class="govuk-table__cell">{{activeScenario.progressScoreType}}</td>
        <td class="govuk-table__cell progress-td">
          <div class="progress-text-wrapper">
            <span *ngIf='activeScenario.progressScore' class="progress-text" [ngClass]="{
                  'progress-text--well-below': activeScenario.progressScore < -3 ,
                  'progress-text--below': activeScenario.progressScore >= -3 && activeScenario.progressScore < -2,
                  'progress-text--average': activeScenario.progressScore >= -2 && activeScenario.progressScore <= 2,
                  'progress-text--above': activeScenario.progressScore <= 3 && activeScenario.progressScore > 2,
                  'progress-text--well-above': activeScenario.progressScore > 3}">
              {{activeScenario.progressScore | number: '1.2-2'}}
              <span *ngIf="activeScenario.progressScore < -3">&nbsp; Well below average</span>
              <span *ngIf="activeScenario.progressScore >= -3 && activeScenario.progressScore < -2">&nbsp; Below
                average</span>
              <span *ngIf="activeScenario.progressScore >= -2 && activeScenario.progressScore <= 2">&nbsp;
                Average</span>
              <span *ngIf="activeScenario.progressScore <= 3 && activeScenario.progressScore > 2">&nbsp; Above
                average</span>
              <span *ngIf="activeScenario.progressScore > 3">&nbsp; Well above average</span>
            </span>
            <span [hidden]='activeScenario.progressScore' style="float: left;">N/A</span>
          </div>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent('KS2')"/>
        </td>
      </tr>
      <tr class="govuk-table__row" *ngIf="activeScenario.progressScoreType === 'Progress 8 score'">
        <td class="govuk-table__cell">{{activeScenario.progressScoreType}}</td>
        <td class="govuk-table__cell progress-td">
          <div class="progress-text-wrapper">
            <span *ngIf='activeScenario.progressScore' class="progress-text" [ngClass]="{
                      'progress-text--well-below': activeScenario.progress8Banding === 5,
                      'progress-text--below': activeScenario.progress8Banding === 4,
                      'progress-text--average': activeScenario.progress8Banding === 3,
                      'progress-text--above': activeScenario.progress8Banding === 2,
                      'progress-text--well-above': activeScenario.progress8Banding === 1}">
              {{activeScenario.progressScore | number: '1.2-2'}}
              <span [ngSwitch]="activeScenario.progress8Banding">
                <span *ngSwitchCase="5">&nbsp; Well below average</span>
                <span *ngSwitchCase="4">&nbsp; Below average</span>
                <span *ngSwitchCase="3">&nbsp; Average</span>
                <span *ngSwitchCase="2">&nbsp; Above average</span>
                <span *ngSwitchCase="1">&nbsp; Well above average</span>
              </span>
            </span>
            <span [hidden]='activeScenario.progressScore' style="float: left;">N/A</span>
          </div>
          <img src="assets/images/help-icon.png" class="small-icon rating-help-icon"
          (click)="openModalWithComponent('P8')"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div [hidden]='scenarioLoaded && activeScenario.isTresholdsRefreshed'>Loading...</div>
