<app-dashboard-bread-crumb [urn]='this.model.urn' [name]='this.model.name'></app-dashboard-bread-crumb>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Self-assessment dashboard</h1>
    <p class="govuk-body-s">
      Assessing
      <span class="highlight">
        <span class="govuk-!-font-weight-bold">{{model.name}}</span>
      </span>
      using
      <span class="govuk-!-font-weight-bold">{{model.latestTerm}}</span>
      finance data. This data includes
      <span class="govuk-!-font-weight-bold">MAT central finance</span>.
    </p>
  </div>
</div>

<app-dashboard-characteristics
[phase] = 'model.overallPhaseWSixthForm'
[londonWeight]='model.londonWeighting'
[noPupils]='model.numberOfPupils'
[FSM]='model.fsm'
[SizeLookup]='model.sadSizeLookup'
[FSMLookup]='model.sadFSMLookup'
></app-dashboard-characteristics>

<h2 class="govuk-heading-m">{{model.latestTerm}} finance data</h2>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-24">Spending</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">% of exp.</th>
      <th scope="col" class="govuk-table__header">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let aa of model.spendingAAs'>
      <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{aa.schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{aa.percentageSchoolData | percent : '1.0-1'}}</td>
      <td class="govuk-table__cell"><span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
      <img src="assets/images/help-icon.png" class="small-icon rating-help-icon" (click)="openModalWithComponent(aa.assessmentAreaName)" />
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-24">Reserve and balance</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">School data</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">% of income</th>
      <th scope="col" class="govuk-table__header">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let aa of model.reserveAAs'>
      <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{aa.schoolData | currency: 'GBP' :'symbol': '1.0-0'}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{aa.percentageSchoolData | percent : '1.0-1'}}</td>
      <td class="govuk-table__cell"><span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
      <img src="assets/images/help-icon.png" class="small-icon rating-help-icon" (click)="openModalWithComponent(aa.assessmentAreaName)" />
      </td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-!-font-size-24">School characteristics</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Assessment area</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">School data</th>
      <th scope="col" class="govuk-table__header">Rating against tresholds</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor='let aa of model.characteristicAAs'>
      <td class="govuk-table__cell">{{aa.assessmentAreaName}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
          <span *ngIf="aa.schoolDataFormat ==='currency'">{{aa.percentageSchoolData | currency: 'GBP' :'symbol': '1.0-0'}}</span>
          <span *ngIf="aa.schoolDataFormat ==='percentageOfExp' || aa.schoolDataFormat ==='percentageOfInc' || aa.schoolDataFormat==='percentageOfWf'">{{aa.percentageSchoolData | percent: '1.0-0'}}</span>
          <span *ngIf="aa.schoolDataFormat ==='number'">{{aa.percentageSchoolData | number: '1.0-1'}}</span>
      </td>
      <td class="govuk-table__cell"><span class="rating-box" [class]='aa.matchingTreshold.ratingColour'>{{aa.matchingTreshold.ratingText}}</span>
      <img src="assets/images/help-icon.png" class="small-icon rating-help-icon" (click)="openModalWithComponent(aa.assessmentAreaName)" />
      </td>
    </tr>
  </tbody>
</table>

