.rating-box{
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 3px;
}

.rating-box.Light.green{
  background-color:#7BC987;
}

.rating-box.Dark.green{
  background-color:#006636;
}

.rating-box.Red{
  background-color:#CA0600;
  color: #ffffff;
}

.rating-box.Amber{
  background-color:#FFA029;
}
