/* You can add global styles to this file, and also import other style files */

// govuk-frontend
@import "govuk-frontend/govuk/all";
@import "bootstrap/scss/bootstrap";

@media print {
  .show-in-print {
    display: block!important;
  }

  .hide-in-print {
    display: none!important;
  }

  .rating-help-icon {
    display: none;
  }
}

*, *::before, *::after {
    box-sizing: content-box;//changed to fix check boxes
}

img {
  box-sizing: border-box;
}


a{
  text-decoration: underline;
}

.a-button{
  text-decoration: none;
  &:visited{
    color: initial!important;
  }
  &:hover{
    text-decoration: none;
  }
}

.link-button{
  font-weight: normal;
  &:visited{
    color: $govuk-link-colour!important;
  }
  &:hover{
    text-decoration: none;
  }
}

.back-button{
  @include govuk-media-query($from: tablet) {
    margin-left: 40px;
    top: 7px;
    position: relative;
}
}

.small-icon{
  //width: 20px;
  //margin-right: 5px;
}

.large-icon{
  margin-right: 10px;
}

.modal-dialog {
    @media (min-width: 576px){
    max-width: 660px;
  }
}

.ul-two-cols{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.sfb-modal-dialog .close{
  font-size: 16px;
  text-decoration: underline;
}

.highlight {
  background-color: #d53880;
  display: inline;
  padding: 5px 5px;

  span {
      color: white;
      line-height: 1.8em;
  }

  a {
      text-decoration: none;

      &:hover {
          text-decoration: underline;
          color: white;
      }
  }

  @media(mobile) {
      margin-bottom: 5px;
  }
}

span.table-cell-highlight {

    background-color: #d53880;
    display: inline;
    padding: 6px 8px 6px 8px;
    color: white;
      line-height: 1.8em;
      font-weight: bold;

}
  a.table-cell-highlight {
      background-color: #d53880;
      display: inline;
      padding: 6px 8px 6px 8px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      color: white;
      &:hover {
          text-decoration: underline;
          color: white;
      }
      &:focus
      {
        color: black!important;
      }
      &:visited {
        color: white;
      }


  @media(mobile) {
      margin-bottom: 5px;
  }
}

.govuk-main-wrapper
{
  padding-top: 0;
}

.govuk-breadcrumbs
{
  padding-bottom: 20px;
}

caption{
  caption-side: top;
  color: black;
}

.modal-close-link{
  cursor: pointer;
  color: #1d70b8;
}

.modal-close-link:visited{
  color: #4c2c92;
}
.modal-close-link:link{
  color: #1d70b8;
}
.modal-close-link:hover {
  color: #003078;
  text-decoration: underline!important;
}
.modal-close-link:active, .modal-close-link:focus {
  color: #0b0c0c;
}

.modal-close-link:focus{
  outline: 3px solid rgba(0,0,0,0);
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

.modal-dialog{
  max-width: 900px!important;
}

.rating-box{
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 3px;
  width: 70%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;

  @include govuk-media-query($from: desktop) {
    width: 80%;
  }
}

.rating-box.Light.green{
  background-color:#7BC987;
}

.rating-box.Dark.green{
  background-color:#006636;
  color: #ffffff;
}

.rating-box.Red{
  background-color:#CA0600;
  color: #ffffff;
}

.rating-box.Amber{
  background-color:#FFA029;
}

.rating-box.gray{
  background-color: govuk-colour("light-grey");
}

.button-link {
  text-decoration: underline!important;
  cursor: pointer;
  color:  $govuk-link-colour!important;
}

.width-ten-percent{
  width: 10%;
}

.width-twenty-percent{
  width: 20%;
}

.width-forty-percent{
  width: 40%;
}

.govuk-table__cell {
  vertical-align: middle!important;
}

.date-caption {
  margin-top: -20px;
  margin-bottom: 20px;

  @include govuk-media-query($from: tablet) {
    margin-top: -40px;
    margin-bottom: 40px;
  }

}


